<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wcy.music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 高德天气 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Bugly -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 短信验证码 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 二维码扫描 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".application.MusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="93d32a9e24859ec9a3a1df05db00a37c" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".service.PlayService" />

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.StatusBarReceiver">
            <intent-filter>
                <action android:name="me.wcy.music.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnlineMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArtistInfoActivity"
            android:label="@string/artist_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/menu_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/menu_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MusicInfoActivity"
            android:label="@string/music_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistActivity"
            android:label="@string/activity_playlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForcastWeatherActivity"
            android:label="@string/forcast_weather"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocalMusicActivity"
            android:label="@string/local_music"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetttingSkinActivity"
            android:label="@string/menu_skin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingInfoActivity"
            android:label="@string/menu_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FriendsActivity"
            android:label="@string/menu_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonActivity"
            android:label="@string/common"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ItemInfoActivity" />
        <activity
            android:name=".activity.TwoCodeActivity"
            android:label="@string/my_two_code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendMassageActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>